tunnel: REPLACE_WITH_TUNNEL_UUID
credentials-file: /etc/cloudflared-annotator/REPLACE_WITH_TUNNEL_UUID.json

loglevel: info
transport-loglevel: warn

ingress:
  - hostname: label.willschulz.com
    service: http://127.0.0.1:3841
  - service: http_status:404
