[Unit]
Description=Cloudflare Tunnel for public annotatoR access
After=network-online.target annotator-cloudflare.service
Wants=network-online.target
Requires=annotator-cloudflare.service

[Service]
Type=notify
ExecStart=%h/.local/bin/cloudflared --no-autoupdate --config %h/.config/cloudflared-annotator/config.yml tunnel run
Restart=on-failure
RestartSec=5s
TimeoutStartSec=0

[Install]
WantedBy=default.target
